* { /* sets universal box sizing, padding, and margin */
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body { /* sets the body sections background color */
    background-color: #d9dcd6; 
}

.header { /* sets the header class's padding, font, background color, and general color  */
    padding: 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 { /* sets the header class's display from block to inline-block and font size */
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo { /* sets the particular seo class's color within the heading 1 (or main heading) as part of the superior header class  */
    color: #d9dcd6;
}

.header nav { /* sets the navigation elements padding on top and to the right, then floats elements right to be displayed correctly in browser. Then utilized the specified font familes along with size, and finally sets the list style as none by specification */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}


.header nav ul li { /* Specifies the list items within an unordered list and navigation section under the header class as an inline block elemet vs block. Then it sets the elements margin left as  described*/
    display: inline-block;
    margin-left: 25px;
}

a { /* Defines anchor elements color and text decoration */
    color: #ffffff;
    text-decoration: none;
}

p { /* Sets font size of paragraphs */
    font-size: 16px;
}

.hero { /* Defines the hero class's height, width, bottom of margin spacing, background image location, background size and positioning */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /* Defines float-left class's specifications as float to the left and how far right to position the margin*/
    float: left;
    margin-right: 25px;
}

.float-right { /* Defines float-right class's specifications as float to the right and how far left to position the margin*/
    float: right;
    margin-left: 25px;
}

.content { /* Defines content class's specifications */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-content { /* Defines main-content class's specifications as bottom margin, padding, height, font family, background color, and general color */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-content img { /* Defines main-content class's image specifications for maximum height */
    max-height: 200px;
}

.main-content h2 { /* Defines main-content class's heading 2 (or secondary heading) specifications for bottom margin and font size */
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits { /* Defines benafits class's specifications for right margin, padding, clearing of floated elements, floatation, width, height, font family, and background color */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits article{ /* Defines benafits class's sections or divisional element specifications for bottom margin and color */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 { /* Defines benafits class's heading 3 (or third heading) specifications for bottom margin and text alignment*/
    margin-bottom: 10px;
    text-align: center;
}

.benefits img { /* Defines benafits class's image specifications for display type, margin, and maximum width */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.footer { /* Defines footer class's specifications for padding, clearing of floated elements, font family, and text alignment */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 { /* Defines footer class's heading 2 (or secondary heading) specifications for font size */
    font-size: 20px;
}
